@page "/configuration/doors"

@using System.Text
@using System.Text.Json

@using Microsoft.AspNetCore.SignalR.Client

@using Aporta.Shared.Models
@using Aporta.Shared.Calls
@using Aporta.Shared.Messaging

@inject HttpClient Http
@inject NavigationManager NavigationManager

<Heading Size="HeadingSize.Is1">Doors</Heading>
<Divider />

@if (_doors == null)
{
    <div class="spinner"></div>
}
else
{
    <Row>
        <Column ColumnSize="ColumnSize.Is6.OnDesktop">
            @if (_availableAccessPoints.Any())
            {
                <Button Color="Color.Primary" Clicked="_addDoorModal.Show">Add Door</Button>
            }
            else
            {
                <Alert Color="Color.Warning" Visible="true">
                    <AlertMessage>Add Door</AlertMessage>
                    <AlertDescription>No available access readers or inputs are configured in the drivers</AlertDescription>
                </Alert>
            }
        </Column>
    </Row>
    <Row>
        <Column>
            <Card Margin="Margin.Is4.OnY">
                <CardBody>
                    <Table Striped="true" Narrow="true" ThemeContrast="ThemeContrast.Light">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>Name</TableHeaderCell>
                                <TableHeaderCell></TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            @foreach (var door in _doors.OrderBy(door => door.Name))
                            {
                                <TableRow>
                                    <TableRowHeader>
                                        @door.Name
                                    </TableRowHeader>
                                    <TableRowCell TextAlignment="TextAlignment.End">
                                        <Button Clicked="@(async () => await RemoveDoor(door.Id, door.Name))">
                                            <Icon Name="IconName.Delete" Style="color: red"/>
                                        </Button>
                                    </TableRowCell>
                                </TableRow>
                            }
                        </TableBody>
                    </Table>
                </CardBody>
            </Card>
        </Column> 
    </Row>
    
    <Modal @ref="_addDoorModal">
        <ModalContent Size="ModalSize.Default" Centered="true">
            <ModalHeader>
                <ModalTitle>
                    Add Door
                </ModalTitle>
                <CloseButton Clicked="@_addDoorModal.Hide"/>
            </ModalHeader>
            <ModalBody>
                <Validations Mode="ValidationMode.Auto" ValidateOnLoad="false" @ref="_addDoorValidations">
                    <Validation Validator="@ValidationRule.IsNotEmpty" >
                        <Field>
                            <FieldLabel>Name</FieldLabel>
                            <FieldBody>
                                <TextEdit @bind-Text="_addDoor.Name">
                                    <Feedback>
                                        <ValidationError>
                                            Please enter a name for the door
                                        </ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                 
                    <Validation Validator="@ValidateEitherInOrOutIsSelected" >
                        <Field>
                            <FieldLabel>Access Reader In</FieldLabel>
                            <FieldBody>
                                <Select TValue="int?" @bind-SelectedValue="@_addDoor.InAccessEndpointId">
                                    <ChildContent>
                                        <SelectItem Value="-1">None</SelectItem>
                                        @foreach (var accessPoint in _availableAccessPoints)
                                        {
                                            <SelectItem Value="@accessPoint.Id">@accessPoint.Name</SelectItem>
                                        }
                                    </ChildContent>

                                    <Feedback>
                                        <ValidationError>
                                            Validation error
                                        </ValidationError>
                                    </Feedback>
                                </Select>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation Validator="@ValidateEitherInOrOutIsSelected" >
                        <Field>
                            <FieldLabel>Access Reader Out</FieldLabel>
                            <FieldBody>
                                <Select TValue="int?" @bind-SelectedValue="@_addDoor.OutAccessEndpointId">
                                    <ChildContent>
                                        <SelectItem Value="-1">None</SelectItem>
                                        @foreach (var accessPoint in _availableAccessPoints)
                                        {
                                            <SelectItem Value="@accessPoint.Id">@accessPoint.Name</SelectItem>
                                        }
                                    </ChildContent>

                                    <Feedback>
                                        <ValidationError>
                                            Validation error
                                        </ValidationError>
                                    </Feedback>
                                </Select>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>Door Strike Relay</FieldLabel>
                        <FieldBody>
                            <Select TValue="int?" @bind-SelectedValue="@_addDoor.DoorStrikeEndpointId">
                                <SelectItem Value="-1">None</SelectItem>
                                @foreach (var controlPoint in _availableControlPoints)
                                {
                                    <SelectItem Value="@controlPoint.Id">@controlPoint.Name</SelectItem>
                                }
                            </Select>
                        </FieldBody>
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@_addDoorModal.Hide">Cancel</Button>
                <Button Color="Color.Primary" Clicked="@(async () => await AddDoor())">Add</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>
}

<Snackbar @ref="_snackbar" Color="@_snackbarColor">
    <SnackbarBody>
        @_snackbarMessage
    </SnackbarBody>
</Snackbar>

<MessageProvider />

@code {
    [Inject] 
    IMessageService MessageService { get; set; }
    
    private List<Door> _doors;
    private Endpoint[] _availableAccessPoints;
    private Endpoint[] _availableControlPoints;
    private Door _addDoor;
    
    private HubConnection _hubConnection;
    
    private Modal _addDoorModal;
    private Validations _addDoorValidations;
#pragma warning disable 649
    private Snackbar _snackbar;
#pragma warning restore 649
    private SnackbarColor _snackbarColor;
    private string _snackbarMessage = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        _doors = await Http.GetFromJsonAsync<List<Door>>(Paths.Doors);

        await InitializedAvailableEndpoints();
        
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(Locations.DataChangeNotification))
            .WithAutomaticReconnect(new SignalRRetryPolicy())
            .Build();
        _hubConnection.On<int>(Methods.DoorInserted, async doorId =>
        {
            _doors.Add( await Http.GetFromJsonAsync<Door>($"{Paths.Doors}/{doorId}"));
            
            await InitializedAvailableEndpoints();
            
            StateHasChanged();
        });
        _hubConnection.On<int>(Methods.DoorDeleted, async doorId =>
        {
            var door = _doors.FirstOrDefault(o => o.Id == doorId);
            if (door == null) return;
            
            _doors.Remove(door);
            
            await InitializedAvailableEndpoints();

            StateHasChanged();
        });
        await _hubConnection.StartAsync();
    }

    private async Task InitializedAvailableEndpoints()
    {
        _availableAccessPoints = await Http.GetFromJsonAsync<Endpoint[]>($"{Paths.Doors}/available");
        _availableControlPoints = await Http.GetFromJsonAsync<Endpoint[]>($"{Paths.Outputs}/available");

        _addDoor = new Door {InAccessEndpointId = -1, OutAccessEndpointId = -1, DoorStrikeEndpointId = -1};
    }

    private async Task AddDoor()
    {
        if (!await _addDoorValidations.ValidateAll())
        {
            return;
        }
        await _addDoorModal.Hide();

        if (_addDoor.InAccessEndpointId == -1) _addDoor.InAccessEndpointId = null;
        if (_addDoor.OutAccessEndpointId == -1) _addDoor.OutAccessEndpointId = null;
        if (_addDoor.DoorStrikeEndpointId == -1) _addDoor.DoorStrikeEndpointId = null;
        
        string url = string.Format(Paths.Doors);
        var response = await Http.PutAsync(url,
            new StringContent(JsonSerializer.Serialize(_addDoor), Encoding.UTF8, "application/json"));
        if (!response.IsSuccessStatusCode)
        {
            _snackbarMessage = "Unable to add door";
            _snackbarColor = SnackbarColor.Danger;
            await _snackbar.Show();
         }
    }

    private async Task RemoveDoor(int doorId, string doorName)
    {
        if (!await MessageService.Confirm($"Are you sure you want to delete door '{doorName}'?", "Delete Door", options =>
        {
            options.ShowMessageIcon = false;
            options.ConfirmButtonColor = Color.Danger;
        }))
        {
            return;
        }

        string url = string.Format($"{Paths.Doors}/{doorId}");
        var response = await Http.DeleteAsync(url);
        if (!response.IsSuccessStatusCode)
        {
            _snackbarMessage = "Unable to remove door";
            _snackbarColor = SnackbarColor.Danger;
            await _snackbar.Show();
        }
    }

    private void ValidateEitherInOrOutIsSelected(ValidatorEventArgs eventArgs)
    {
        if (_addDoor.InAccessEndpointId > -1 && _addDoor.OutAccessEndpointId > -1)
        {
            eventArgs.Status = _addDoor.InAccessEndpointId != _addDoor.OutAccessEndpointId
                ? ValidationStatus.Success : ValidationStatus.Error;
            eventArgs.ErrorText = "Both the in and out access points can't be the same";
        }
        else
        {
            eventArgs.Status = _addDoor.InAccessEndpointId > -1 || _addDoor.OutAccessEndpointId > -1
                ? ValidationStatus.Success : ValidationStatus.Error;
            eventArgs.ErrorText = "Either a in or out access point must be selected";
        }

    }

}