@using Blazorise.Snackbar
@using Newtonsoft.Json

@using Aporta.Shared.Calls
@using Aporta.Shared.Models
@using Aporta.Drivers.Virtual.Shared
@using Aporta.Drivers.Virtual.Shared.Actions
@using Aporta.Drivers.Virtual.WebClient.Dialogs
@using Input = Aporta.Drivers.Virtual.Shared.Input
@using Output = Aporta.Drivers.Virtual.Shared.Output

@inject IDriverConfigurationCalls ConfigurationCalls;
@inject IDoorCalls DoorCalls;

@if (_configuration == null)
{
    <div class="spinner"></div>
}
else
{
    <Row>
        <Column ColumnSize="ColumnSize.IsFull">
            <Card Margin="Margin.Is4.OnY">
                <CardTitle Margin="Margin.Is4.OnX">
                    <Row Margin="Margin.Is2.OnY">
                        <Column>
                            <Heading>Virtual Reader Configuration</Heading>
                        </Column>
                    </Row>
                    <Row>
                        <Column>
                            <Button Color="Color.Primary" Clicked="ShowAddReaderModal">Add Virtual Reader</Button>
                        </Column>
                    </Row>
                </CardTitle>
                <CardBody>
                    <Table Narrow="true" Hoverable="true" ThemeContrast="ThemeContrast.Light">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>Reader Name</TableHeaderCell>
                                <TableHeaderCell>Reader Number</TableHeaderCell>
                                <TableHeaderCell></TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            @foreach (var reader in _configuration.Readers)
                            {
                                <TableRow ElementId="@("Reader:" + @reader.Name)">
                                    <TableRowHeader>
                                        @reader.Name
                                    </TableRowHeader>
                                    <TableRowCell>
                                        @reader.Number
                                    </TableRowCell>
                                    <TableRowCell TextAlignment="TextAlignment.End">
                                        <Dropdown>
                                            <DropdownToggle Color="Color.Primary" Size="Size.Small">
                                                Action
                                            </DropdownToggle>
                                            <DropdownMenu>
                                                <DropdownItem Clicked="@(async () => await ShowEditReaderModal(reader))">Edit</DropdownItem>
                                                <DropdownItem Clicked="@(async () => await RemoveReader(reader))" Disabled="@(!IsReaderAvailableForDelete(reader))">Delete</DropdownItem>
                                                <DropdownDivider/>
                                                <DropdownItem Clicked="@(async () => await ShowSwipeBadgeModal(reader.Number))">Swipe Badge</DropdownItem>
                                            </DropdownMenu>
                                        </Dropdown>
                                    </TableRowCell>
                                </TableRow>
                            }
                        </TableBody>
                    </Table>
                </CardBody>
            </Card>
        </Column>
    </Row>

    <Row>
        <Column ColumnSize="ColumnSize.IsFull">
            <Card Margin="Margin.Is4.OnY">
                <CardTitle Margin="Margin.Is4.OnX">
                    <Row Margin="Margin.Is2.OnY">
                        <Column>
                            <Heading>Virtual Input Configuration</Heading>
                        </Column>
                    </Row>
                    <Row>
                        <Column>
                            <Button Color="Color.Primary" Clicked="ShowAddInputModal">Add Virtual Input</Button>
                        </Column>
                    </Row>
                </CardTitle>
                <CardBody>
                    <Table Narrow="true" Hoverable="true" ThemeContrast="ThemeContrast.Light">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>Input Name</TableHeaderCell>
                                <TableHeaderCell>Input Number</TableHeaderCell>
                                <TableHeaderCell></TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            @foreach (var input in _configuration.Inputs)
                            {
                                <TableRow ElementId="@("Input:" + @input.Name)">
                                    <TableRowHeader>
                                        @input.Name
                                    </TableRowHeader>
                                    <TableRowCell>
                                        @input.Number
                                    </TableRowCell>
                                    <TableRowCell TextAlignment="TextAlignment.End">
                                        <Dropdown>
                                            <DropdownToggle Color="Color.Primary" Size="Size.Small">
                                                Action
                                            </DropdownToggle>
                                            <DropdownMenu>
                                                <DropdownItem Clicked="@(async () => await ShowEditInputModal(input))">Edit</DropdownItem>
                                                <DropdownItem Clicked="@(async () => await RemoveInput(input))" Disabled="@(!IsInputAvailableForDelete(input))">Delete</DropdownItem>
                                            </DropdownMenu>
                                        </Dropdown>
                                    </TableRowCell>
                                </TableRow>
                            }
                        </TableBody>
                    </Table>
                </CardBody>
            </Card>
        </Column>
    </Row>

    <Row>
        <Column ColumnSize="ColumnSize.IsFull">
            <Card Margin="Margin.Is4.OnY">
                <CardTitle Margin="Margin.Is4.OnX">
                    <Row Margin="Margin.Is2.OnY">
                        <Column>
                            <Heading>Virtual Output Configuration</Heading>
                        </Column>
                    </Row>
                    <Row>
                        <Column>
                            <Button Color="Color.Primary" Clicked="ShowAddOutputModal">Add Virtual Output</Button>
                        </Column>
                    </Row>
                </CardTitle>
                <CardBody>
                    <Table Narrow="true" Hoverable="true" ThemeContrast="ThemeContrast.Light">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>Output Name</TableHeaderCell>
                                <TableHeaderCell>Output Number</TableHeaderCell>
                                <TableHeaderCell></TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            @foreach (var output in _configuration.Outputs)
                            {
                                <TableRow ElementId="@("Output:" + @output.Name)">
                                    <TableRowHeader>
                                        @output.Name
                                    </TableRowHeader>
                                    <TableRowCell>
                                        @output.Number
                                    </TableRowCell>
                                    <TableRowCell TextAlignment="TextAlignment.End">
                                        <Dropdown>
                                            <DropdownToggle Color="Color.Primary" Size="Size.Small">
                                                Action
                                            </DropdownToggle>
                                            <DropdownMenu>
                                                <DropdownItem Clicked="@(async () => await ShowEditOutputModal(output))">Edit</DropdownItem>
                                                <DropdownItem Clicked="@(async () => await RemoveOutput(output))" Disabled="@(!IsOutputAvailableForDelete(output))">Delete</DropdownItem>
                                            </DropdownMenu>
                                        </Dropdown>
                                    </TableRowCell>
                                </TableRow>
                            }
                        </TableBody>
                    </Table>
                </CardBody>
            </Card>
        </Column>
    </Row>

    <AddEditDeviceDialog @ref="_addEditDeviceDialog" PerformAction="@AddEditDevice" />

    <BadgeSwipeDialog @ref="_badgeSwipeDialog" PerformSwipeBadgeAction="@BadgeSwipe" />

    <Snackbar @ref="_snackbar" Color="@_snackbarColor">
        <SnackbarBody>
            @_snackbarMessage
        </SnackbarBody>
    </Snackbar>

    <MessageProvider />
}

@code {
    [Inject]
    IMessageService MessageService { get; set; }

    private Snackbar _snackbar;
    private SnackbarColor _snackbarColor;
    private string _snackbarMessage = string.Empty;

    private AddEditDeviceDialog _addEditDeviceDialog;
    
    private BadgeSwipeDialog _badgeSwipeDialog;

    private Endpoint[] _availableEndPoints;

    private Aporta.Drivers.Virtual.Shared.Configuration _configuration;

    [Parameter]
    public Guid ExtensionId { get; set; }

    [Parameter]
    public string RawConfiguration { get; set; }

    protected override void OnParametersSet()
    {
        _configuration = JsonConvert.DeserializeObject<Aporta.Drivers.Virtual.Shared.Configuration>(RawConfiguration);
    }

    protected override async Task OnInitializedAsync()
    {
        await InitializeAvailableEndpoints();
    }

    private async Task InitializeAvailableEndpoints()
    {
        _availableEndPoints = await DoorCalls.GetAvailableEndpoints();

        StateHasChanged();
    }

    private async Task<bool> PerformAction(ActionType actionType, string parameters)
    {
        try
        {
            await ConfigurationCalls.PerformAction(ExtensionId, actionType.ToString(), parameters);
        }
        catch (Exception exception)
        {
            _snackbarMessage = $"Unable to perform action {actionType.GetDescription()}. {exception.Message}";
            _snackbarColor = SnackbarColor.Danger;
            if (_snackbar != null) await _snackbar.Show();
            return false;
        }

        _snackbarMessage = $"Request to perform action {actionType.GetDescription()} successfully sent";
        _snackbarColor = SnackbarColor.Info;
        if (_snackbar != null) await _snackbar.Show();

        return true;
    }

    private async Task ShowSwipeBadgeModal(byte readerNumber)
    {
        _badgeSwipeDialog.ReaderNumberToSwipe = readerNumber;
        await _badgeSwipeDialog.ShowDialog();
    }

    private async Task ShowAddReaderModal()
    {
        _addEditDeviceDialog.IsAdding = true;
        _addEditDeviceDialog.Number = 0;
        _addEditDeviceDialog.Name = string.Empty;
        _addEditDeviceDialog.Type = AddEditDeviceDialog.DeviceType.Reader;
        
        await _addEditDeviceDialog.ShowDialog();
    }

    private async Task ShowEditReaderModal(Reader reader)
    {
        _addEditDeviceDialog.IsAdding = false;
        _addEditDeviceDialog.Number = reader.Number;
        _addEditDeviceDialog.Name = reader.Name;
        _addEditDeviceDialog.Type = AddEditDeviceDialog.DeviceType.Reader;

        await _addEditDeviceDialog.ShowDialog();
    }

    private async Task RemoveReader(Reader readerToRemove)
    {
        if (!await MessageService.Confirm($"Are you sure you want to delete reader '{readerToRemove.Name}'?", "Delete reader", options =>
        {
            options.ShowMessageIcon = false;
            options.ConfirmButtonColor = Color.Danger;
        }))
        {
            return;
        }

        var readerToRemoveSerialized = JsonConvert.SerializeObject(readerToRemove);

        if (await PerformAction(ActionType.RemoveReader, readerToRemoveSerialized))
        {
            await InitializeAvailableEndpoints(); 
        }
    }
    
    private async Task BadgeSwipe()
    {
        await PerformAction(ActionType.BadgeSwipe, JsonConvert.SerializeObject(new BadgeSwipeAction
        {
            ReaderNumber = _badgeSwipeDialog.ReaderNumberToSwipe,
            CardData = _badgeSwipeDialog.CardDataToSwipe
        }));
    }
    
    private async Task ShowAddInputModal()
    {
        _addEditDeviceDialog.IsAdding = true;
        _addEditDeviceDialog.Number = 0;
        _addEditDeviceDialog.Name = string.Empty;
        _addEditDeviceDialog.Type = AddEditDeviceDialog.DeviceType.Input;
        
        await _addEditDeviceDialog.ShowDialog();
    }
    
    private async Task ShowEditInputModal(Input input)
    {
        _addEditDeviceDialog.IsAdding = false;
        _addEditDeviceDialog.Number = input.Number;
        _addEditDeviceDialog.Name = input.Name;
        _addEditDeviceDialog.Type = AddEditDeviceDialog.DeviceType.Input;

        await _addEditDeviceDialog.ShowDialog();
    }

    private async Task RemoveInput(Input inputToRemove)
    {
        if (!await MessageService.Confirm($"Are you sure you want to delete input '{inputToRemove.Name}'?", "Delete input", options =>
            {
                options.ShowMessageIcon = false;
                options.ConfirmButtonColor = Color.Danger;
            }))
        {
            return;
        }

        var inputToRemoveSerialized = JsonConvert.SerializeObject(inputToRemove);

        if (await PerformAction(ActionType.RemoveInput, inputToRemoveSerialized))
        {
            await InitializeAvailableEndpoints();
        }
    }
    
    private async Task ShowAddOutputModal()
    {
        _addEditDeviceDialog.IsAdding = true;
        _addEditDeviceDialog.Number = 0;
        _addEditDeviceDialog.Name = string.Empty;
        _addEditDeviceDialog.Type = AddEditDeviceDialog.DeviceType.Output;
        
        await _addEditDeviceDialog.ShowDialog();
    }
    
    private async Task ShowEditOutputModal(Output output)
    {
        _addEditDeviceDialog.IsAdding = false;
        _addEditDeviceDialog.Number = output.Number;
        _addEditDeviceDialog.Name = output.Name;
        _addEditDeviceDialog.Type = AddEditDeviceDialog.DeviceType.Output;

        await _addEditDeviceDialog.ShowDialog();
    }
    
    private async Task RemoveOutput(Output outputToRemove)
    {
        if (!await MessageService.Confirm($"Are you sure you want to delete output '{outputToRemove.Name}'?", "Delete output", options =>
            {
                options.ShowMessageIcon = false;
                options.ConfirmButtonColor = Color.Danger;
            }))
        {
            return;
        }

        var outputToRemoveSerialized = JsonConvert.SerializeObject(outputToRemove);

        if (await PerformAction(ActionType.RemoveOutput, outputToRemoveSerialized))
        {
            await InitializeAvailableEndpoints();
        }
    }
    
    private async Task AddEditDevice()
    {
        var actionTypeList = new Dictionary<AddEditDeviceDialog.DeviceType, ActionType>
        {
            { AddEditDeviceDialog.DeviceType.Reader, ActionType.AddUpdateReader },
            { AddEditDeviceDialog.DeviceType.Input, ActionType.AddUpdateInput },
            { AddEditDeviceDialog.DeviceType.Output, ActionType.AddUpdateOutput }
        };

        if (await PerformAction(actionTypeList[_addEditDeviceDialog.Type], JsonConvert.SerializeObject(
                new Reader(name: _addEditDeviceDialog.Name, number: _addEditDeviceDialog.Number))))
        {
            await InitializeAvailableEndpoints();
        }
    }
    
    private bool IsReaderAvailableForDelete(Reader reader)
    {
        return _availableEndPoints.Count(endpoint => endpoint.DriverEndpointId == $"VR{reader.Number}") > 0;
    }

    private bool IsInputAvailableForDelete(Input input)
    {
        return _availableEndPoints.Count(endpoint => endpoint.DriverEndpointId == $"VI{input.Number}") > 0;
    }

    private bool IsOutputAvailableForDelete(Output output)
    {
        return _availableEndPoints.Count(endpoint => endpoint.DriverEndpointId == $"VO{output.Number}") > 0;
    }
}