@using System.Text

@using Blazorise.Snackbar
@using Newtonsoft.Json

@using Aporta.Shared.Calls
@using Aporta.Shared.Models
@using Aporta.Drivers.OSDP.Shared
@using Aporta.Drivers.OSDP.Shared.Actions

@inject HttpClient Http

@if (_configuration == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <Row>
            <Column ColumnSize="ColumnSize.IsAuto">
                @if (_unusedPorts.Any())
                {
                    <Button Color="Color.Primary" Clicked="_addPortModal.Show">Add RS-485 Port</Button>
                }
                else
                {
                    <Alert Color="Color.Warning" Visible="true">
                        <AlertMessage>Add RS-485 Port</AlertMessage>
                        <AlertDescription>None are available</AlertDescription>
                    </Alert>
                }
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Secondary" Clicked="@(async () => await RescanPorts())">Rescan Available RS-485 Ports</Button>
            </Column>
        </Row>
        @foreach (var bus in _configuration.Buses)
        {
        <Row>
            <Column>
                <Card Margin="Margin.Is4.OnY">
                    <CardTitle Margin="Margin.Is4.OnX">
                        <Row Margin="Margin.Is2.OnY">
                            <Column ColumnSize="ColumnSize.IsHalf">
                                <Heading Size="HeadingSize.Is5">
                                    Port @bus.PortName Devices
                                </Heading>
                            </Column>
                            <Column ColumnSize="ColumnSize.IsHalf">
                                <Button Style="float: right" Color="Color.Danger" Clicked="@(async () => await RemoveBus(bus.PortName))">
                                    Remove
                                </Button>
                            </Column>
                        </Row>
                        <Row>
                            <Column>
                                <Button Color="Color.Primary" Clicked="@(() => ShowAddDeviceDialog(bus.PortName))">
                                    Add Device
                                </Button>
                            </Column>
                        </Row>
                    </CardTitle>
                    <CardBody>
                        <Table Narrow="true" Hoverable="true" ThemeContrast="ThemeContrast.Light">
                            <TableHeader>
                                <TableRow>
                                    <TableHeaderCell>Status</TableHeaderCell>
                                    <TableHeaderCell>Name</TableHeaderCell>
                                    <TableHeaderCell>Address</TableHeaderCell>
                                    <TableHeaderCell></TableHeaderCell>
                                </TableRow>
                            </TableHeader>
                            <TableBody>
                                @foreach (var device in bus.Devices.OrderBy(device => device.Address))
                                {
                                    <TableRow>
                                        <TableRowCell Clicked="@(async () => await ShowDetails(device))">
                                            <Tooltip Text="@GetConnectionStatus(device)" Inline="true">
                                                @if (device.IsConnected)
                                                {
                                                    <Icon Name="IconName.ArrowUp" Style="color: green" Margin="Margin.Is3.OnX"/>
                                                }
                                                else
                                                {
                                                    <Icon Name="IconName.ArrowDown" Style="color: red" Margin="Margin.Is3.OnX"/>
                                                }
                                            </Tooltip>
                                        </TableRowCell>
                                        <TableRowHeader Clicked="@(async () => await ShowDetails(device))">
                                            @device.Name
                                        </TableRowHeader>
                                        <TableRowCell Clicked="@(async () => await ShowDetails(device))">
                                            @device.Address
                                        </TableRowCell>
                                        <TableRowCell TextAlignment="TextAlignment.End">
                                            <Dropdown>
                                                <DropdownToggle Color="Color.Primary" Size="Size.Small">
                                                    Action
                                                </DropdownToggle>
                                                <DropdownMenu>
                                                    <DropdownItem Clicked="@(async () => await ClearDeviceIdentity(device))">Clear Identity</DropdownItem>
                                                    <DropdownDivider/>
                                                    <DropdownItem Clicked="@(async () => await RemoveDevice(bus.PortName, device.Address, device.Name))">Delete</DropdownItem>
                                                </DropdownMenu>
                                            </Dropdown>
                                        </TableRowCell>
                                    </TableRow>
                                }
                            </TableBody>
                        </Table>
                    </CardBody>
                </Card>
            </Column>
        </Row>
        }

        <Modal @ref="_addPortModal">
            <ModalContent Size="ModalSize.Default" Centered="true">
                <ModalHeader>
                    <ModalTitle>
                        Add RS-485 Port
                    </ModalTitle>
                    <CloseButton Clicked="@_addPortModal.Hide"/>
                </ModalHeader>
                <ModalBody>
                    <Field>
                        <FieldLabel>Port</FieldLabel>
                        <FieldBody>
                            <Select TValue="string" @bind-SelectedValue="_addBus.PortName">
                                @foreach (var portName in _unusedPorts)
                                {
                                    <SelectItem Value=@portName>@portName</SelectItem>
                                }
                            </Select>
                        </FieldBody>
                    </Field>
                    <Field>
                        <FieldLabel>Baud Rate</FieldLabel>
                        <FieldBody>
                            <Select TValue="int" @bind-SelectedValue="_addBus.BaudRate">
                                @foreach (var baudRate in _baudRates)
                                {
                                    <SelectItem Value=@baudRate>@baudRate</SelectItem>
                                }
                            </Select>
                        </FieldBody>
                    </Field>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Secondary" Clicked="@_addPortModal.Hide">Cancel</Button>
                    <Button Color="Color.Primary" Clicked="@(async () => await AddBus())">Add</Button>
                </ModalFooter>
            </ModalContent>
        </Modal>

        <Modal @ref="_addDeviceModal">
            <ModalContent Size="ModalSize.Default" Centered="true">
                <ModalHeader>
                    <ModalTitle>
                        Add Device to @_currentBus?.PortName
                    </ModalTitle>
                    <CloseButton Clicked="@_addDeviceModal.Hide"/>
                </ModalHeader>
                <ModalBody>
                    <Validations Mode="ValidationMode.Auto" ValidateOnLoad="false" @ref="_addDeviceValidations">
                        <Validation Validator="@ValidationRule.IsNotEmpty" >
                            <Field>
                                <FieldLabel>Name</FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="_addDevice.Name">
                                        <Feedback>
                                            <ValidationError>
                                                Please enter a name for the device
                                            </ValidationError>
                                        </Feedback>
                                    </TextEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Validation Validator="@ValidateDeviceAddress">
                            <Field>
                                <FieldLabel>Address</FieldLabel>
                                <FieldBody>
                                    <NumericEdit @bind-Value="_addDevice.Address" TValue="byte" Decimals="0">
                                        <ValidationError>
                                            Address already used by a device
                                        </ValidationError>
                                    </NumericEdit>
                                </FieldBody>
                            </Field>
                        </Validation>
                        <Field>
                            <FieldBody>
                                <Check @bind-Checked="@_addDevice.RequireSecurity" TValue="bool">Require Security</Check>
                            </FieldBody>
                        </Field>
                    </Validations>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Secondary" Clicked="@_addDeviceModal.Hide">Cancel</Button>
                    <Button Color="Color.Primary" Clicked="@(async () => await AddDevice())">Add</Button>
                </ModalFooter>
 
            </ModalContent>
        </Modal>
        
        <Modal @ref="_deviceDetailsModal">
            <ModalContent Size="ModalSize.Default" Centered="true">
                <ModalHeader>
                    <ModalTitle>
                        @_detailsDevice.Name details
                    </ModalTitle>
                    <CloseButton Clicked="@_deviceDetailsModal.Hide"/>
                </ModalHeader>
                <ModalBody>
                    
                    <Table Striped="true" Narrow="true" ThemeContrast="ThemeContrast.Light">
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>Description</TableHeaderCell>
                                <TableHeaderCell>Value</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            <TableRow>
                                <TableRowCell>
                                    Port
                                </TableRowCell>
                                <TableRowCell>
                                    @_detailsDevice.PortName
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowCell>
                                    Address
                                </TableRowCell>
                                <TableRowCell>
                                    @_detailsDevice.Address
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowCell>
                                    Connection Status
                                </TableRowCell>
                                <TableRowCell>
                                    @GetConnectionStatus(_detailsDevice)
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowCell>
                                    Vendor Code
                                </TableRowCell>
                                <TableRowCell>
                                    @_detailsDevice.Identification.VendorCode
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowCell>
                                    Serial Number
                                </TableRowCell>
                                <TableRowCell>
                                    @_detailsDevice.Identification.SerialNumber
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowCell>
                                    Firmware Version
                                </TableRowCell>
                                <TableRowCell>
                                    @_detailsDevice.Identification.FirmwareVersion
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowCell>
                                    Access Reader
                                </TableRowCell>
                                <TableRowCell>
                                    @_detailsDevice.Readers.Any()
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowCell>
                                    Number of Inputs
                                </TableRowCell>
                                <TableRowCell>
                                    @_detailsDevice.Inputs.Count
                                </TableRowCell>
                            </TableRow>
                            <TableRow>
                                <TableRowCell>
                                    Number of Outputs
                                </TableRowCell>
                                <TableRowCell>
                                    @_detailsDevice.Outputs.Count
                                </TableRowCell>
                            </TableRow>
                        </TableBody>
                    </Table>
    
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Primary" Clicked="@_deviceDetailsModal.Hide">Close</Button>
                </ModalFooter>
            </ModalContent>
        </Modal>
    }

<Snackbar @ref="_snackbar" Color="@_snackbarColor">
    <SnackbarBody>
        @_snackbarMessage
    </SnackbarBody>
</Snackbar>

<MessageProvider />

@code {
    [Inject] 
    IMessageService MessageService { get; set; }
    
    private Bus _addBus;
    private Bus _currentBus;
    private Device _addDevice;
    private Device _detailsDevice;
    private string[] _unusedPorts;
    
    private Modal _addPortModal;
    private Modal _addDeviceModal;
    private Validations _addDeviceValidations;
    private Modal _deviceDetailsModal;

    
    private Snackbar _snackbar;
    private SnackbarColor _snackbarColor;
    private string _snackbarMessage = string.Empty;
    
    private readonly IEnumerable<int> _baudRates = new[]
    {
        9600,
        19200,
        38400,
        115200
    };

    private Aporta.Drivers.OSDP.Shared.Configuration _configuration;
    
    [Parameter]
    public Guid ExtensionId { get; set; }

    [Parameter]
    public EventCallback<Guid> ExtensionIdChanged { get; set; }

    [Parameter]
    public string RawConfiguration { get; set; }

    [Parameter]
    public EventCallback<string> RawConfigurationChanged { get; set; }

    protected override void OnParametersSet()
    {
        _configuration = JsonConvert.DeserializeObject<Aporta.Drivers.OSDP.Shared.Configuration>(RawConfiguration);

        _addDevice = new Device {Name = string.Empty, Address = 0, RequireSecurity = true};

        InitializeNewBus();
    }

    private void InitializeNewBus()
    {
        _unusedPorts = _configuration.AvailablePorts.Except(_configuration.Buses.Select(bus => bus.PortName)).ToArray();

        _addBus = new Bus
        {
            Devices = new List<Device>(),
            BaudRate = 9600
        };

        if (_unusedPorts.Any())
        {
            _addBus.PortName = _unusedPorts.First();
        }
    }

    private async Task AddBus()
    {
        await _addPortModal.Hide();
        
        await PerformAction(ActionType.AddBus,
            JsonConvert.SerializeObject(new BusAction
            {
                Bus = _addBus
            }));
    }

    private async Task RemoveBus(string busPortName)
    {
        if (!await MessageService.Confirm($"Are you sure you want to delete bus '{busPortName}'?", "Delete Bus", options =>
        {
            options.ShowMessageIcon = false;
            options.ConfirmButtonColor = Color.Danger;
        }))
        {
            return;
        }

        var matchingBus = _configuration.Buses.First(bus => bus.PortName == busPortName);

        await PerformAction(ActionType.RemoveBus,
            JsonConvert.SerializeObject(new BusAction
            {
                Bus = matchingBus
            }));
    }
    
    private async Task ClearDeviceIdentity(Device clearIdentityDevice)
    {
        await PerformAction(ActionType.ClearDeviceIdentity,
            JsonConvert.SerializeObject(new DeviceAction
            {
                Device = clearIdentityDevice
            }));
    }

    private void ShowAddDeviceDialog(string portName)
    {
        _currentBus = _configuration.Buses.First(bus => bus.PortName == portName);
        _addDevice = new Device{Name = string.Empty, Address = 0, RequireSecurity = true};
        
        _addDeviceModal.Show();
    }

    private async Task AddDevice()
    {
        if (!await _addDeviceValidations.ValidateAll())
        {
            return;
        }
        
        await _addDeviceModal.Hide();

        _addDevice.PortName = _currentBus.PortName;
        await PerformAction(ActionType.AddUpdateDevice,
            JsonConvert.SerializeObject(new DeviceAction
            {
                Device = _addDevice
            }));
    }

    private async Task RemoveDevice(string portName, byte address, string deviceName)
    {
        if (!await MessageService.Confirm($"Are you sure you want to delete device '{deviceName}'?", "Delete Bus", options =>
        {
            options.ShowMessageIcon = false;
            options.ConfirmButtonColor = Color.Danger;
        }))
        {
            return;
        }
        
        _currentBus = _configuration.Buses.First(bus => bus.PortName == portName);

        var removingDevice = _currentBus.Devices.First(device => device.Address == address);

        removingDevice.PortName = _currentBus.PortName;
        await PerformAction(ActionType.RemoveDevice,
            JsonConvert.SerializeObject(new DeviceAction
            {
                Device = removingDevice
            }));
    }
    
    private async Task<string> PerformAction(ActionType actionType, string parameters)
    {
        string url = string.Format(Paths.ExtensionPerformAction, ExtensionId, actionType);
        var response = await Http.PostAsync(url,
            new StringContent(parameters, Encoding.UTF8, "application/json"));
        
        if (response.IsSuccessStatusCode)
        {
            _snackbarMessage = $"Request to perform action {actionType.GetDescription()} successfully sent";
            _snackbarColor = SnackbarColor.Info;
            await _snackbar.Show();
        }
        else
        {
            _snackbarMessage = $"Unable to perform action {actionType.GetDescription()}";
            _snackbarColor = SnackbarColor.Danger;
            await _snackbar.Show();
        }

        return await response.Content.ReadAsStringAsync();
    }
    
    private async Task ShowDetails(Device device)
    {
        _detailsDevice = device;
        
        await _deviceDetailsModal.Show();
    }

    private void ValidateDeviceAddress(ValidatorEventArgs eventArgs)
    {
        byte address = Convert.ToByte(eventArgs.Value);
        eventArgs.Status = _currentBus.Devices.All(device => device.Address != address) ? ValidationStatus.Success : ValidationStatus.Error;
    }

    private async Task RescanPorts()
    {
        var ports = await PerformAction(ActionType.AvailablePorts, "{}");

        _unusedPorts = JsonConvert.DeserializeObject<string[]>(ports).Except(_configuration.Buses.Select(bus => bus.PortName)).ToArray();
    }

    private string GetConnectionStatus(Device device)
    {
        if (device.IsConnected)
        {
            return "Online";
        }
        else if (device.IdentityNotMatched)
        {
            return "Identity Mismatch";
        }
        else
        {
            return "Offline";
        }
    }

}