@using Aporta.Drivers.Virtual.Shared

<Modal @ref="_addReaderModal" Closing="@OnModalClosing">
    <ModalContent Size="ModalSize.Default" Centered="true">
        <ModalHeader>
            <ModalTitle>
                Add Virtual Reader
            </ModalTitle>
            <CloseButton Clicked="@_addReaderModal.Hide" />
        </ModalHeader>
        <ModalBody>
            <Validations Mode="ValidationMode.Auto" ValidateOnLoad="false" @ref="_addReaderValidations">
                <Validation Validator="@ValidationRule.IsNotEmpty">
                    <Field>
                        <FieldLabel>Name</FieldLabel>
                        <FieldBody>
                            <TextEdit @bind-Text="AddReaderParam.Name" id="AddReaderTextEdit">
                                <Feedback>
                                    <ValidationError>
                                        Please enter a name for the virtual reader
                                    </ValidationError>
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </Field>
                </Validation>
            </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@_addReaderModal.Hide">Cancel</Button>
            <Button id="btnAddReaderModal" Color="Color.Primary" Clicked="@(async () => await AddReader())">Add</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private Modal _addReaderModal;
    private Validations _addReaderValidations;

    [Parameter]
    public AddReaderParameter AddReaderParam { get; set; }

    [Parameter]
    public EventCallback PerformAddReaderAction { get; set; }

    private async Task AddReader()
    {
        if (!await _addReaderValidations.ValidateAll())
        {
            return;
        }

        await _addReaderModal.Hide();

        await PerformAddReaderAction.InvokeAsync();    }

    public async Task ShowDialog()
    {
        await _addReaderModal.Show();
    }
    
    private Task OnModalClosing( ModalClosingEventArgs eventArgs )
    {
        eventArgs.Cancel = eventArgs.CloseReason == CloseReason.FocusLostClosing;

        return Task.CompletedTask;
    }
}